* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.app {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.app__left {
  flex: 0.4;
}

.app__right {
  flex: 0.6
}