* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.app {
  display: flex;
  overflow: hidden;
  border-bottom: 1px solid #128C7E;
}

.app__left {
  flex: 0.4;
}

.app__right {
  flex: 0.6
}